mat-form-field,
textarea {
  width: 100%;
}

.file-upload-control-wrapper {
  padding-bottom: 1.25em;
}

.file-upload-control {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.file-upload-control-errors {
  margin-top: .4rem;
  font-size: .75rem;
}

.file-upload {
  display: none;
}

.image-file {
  max-width: 7rem;
  max-height: 7rem;
  margin-left: 1rem;
}