<mat-card *ngIf="!postsListPending">
  <form (submit)="handlePostFormSubmission(postForm)" [formGroup]="postForm">
    <mat-form-field>
      <input
        matInput
        formControlName="title"
        type="text"
        placeholder="Post Title">

      <mat-error *ngIf="postForm.get('title').invalid && postForm.get('title').touched">Please enter a post title.</mat-error>
    </mat-form-field>

    <div class="file-upload-control-wrapper">
      <div class="file-upload-control">
        <button 
          appMarkControlAsTouched 
          mat-stroked-button
          type="button"
          (touchImageControl)="onImageControlTouch()"
          (click)="formFile.click()"
        >Upload File</button>
        
        <input class="file-upload" type="file" #formFile (change)="onFileValueChange($event)">
        
        <img
          class="image-file"
          [src]="imageSrc"
          [alt]="imageTitle"
          *ngIf="imageSrc && postForm.get('image').valid">
      </div>

      <div class="file-upload-control-errors">
        <mat-error 
          *ngIf="postForm.get('image').errors?.required &&
                postForm.get('image').touched"
        >Please upload a post image.</mat-error>
  
        <mat-error 
          *ngIf="postForm.get('image').errors?.fileIsNotImage &&
                !postForm.get('image').errors?.required &&
                postForm.get('image').touched"
        >Only images are allowed.</mat-error>
      </div>
    </div>

    <mat-form-field>
      <textarea
        matInput
        rows="4"
        formControlName="content"
        placeholder="Post Content"></textarea>
      <mat-error *ngIf="postForm.get('content').invalid && postForm.get('content').touched">Please enter a post title.</mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color="accent"
      type="submit"
      [disabled]="postForm.invalid"
      >Save Post</button>
  </form>
</mat-card>

<mat-spinner *ngIf="postsListPending" style="margin: 1rem auto 0;" [diameter]="40"></mat-spinner>
