<mat-accordion multi="true" *ngIf="postsIds.length > 0">
  <mat-expansion-panel *ngFor="let id of postsIds">
    <mat-expansion-panel-header>
      {{ posts[id].title }}
    </mat-expansion-panel-header>

    <img class="post-image" [src]="posts[id].imageSrc">
    <p>{{ posts[id].content }}</p>
    
    <mat-action-row>
      <button mat-button color="primary" (click)="onPostEdit(id)">EDIT</button>
      <button mat-button color="warn" (click)="onPostDelete(id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<p class="info-text mat-body-1" *ngIf="posts.length <= 0 && !postsListPending">No posts added yet!</p>

<mat-spinner *ngIf="postsListPending" style="margin: 1rem auto 0;" [diameter]="40"></mat-spinner>